---
---

@import "{{ site.theme }}";

.post-date 
{
    text-align: right;
    color: #ffcc00;
}

//#post-title {}

#post-body p
{
    font-size: large;
}

#post-body h3
{
    color: #d8d8d8;
    font-size: large;
}

.img-small-left
{
    height: 200px;
    float: left;
    margin: 7px 7px 7px 7px;
}

.img-small-right
{
    height: 200px;
    float: right;
    margin: 7px 7px 7px 7px;
}

.img-large-left
{
    width: 200px;
    float: left;
    margin: 7px 7px 7px 7px;
}

.img-large-right
{
    width: 200px;
    float: right;
    margin: 7px 7px 7px 7px;
}
